@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "../../_myBreakpoints.scss";

.header {
    .navpanelll {
        z-index: 10000;
    }

    &__search-input {
        order: 1
    }

    &__btnblock-action {
        width: 35px;
        height: 35px;
        display: block;
    }

    &__search-input {
        max-width: 280px;
        width: 100%;
        height: 35px;
        border-radius: 30px 30px 30px 30px;
        text-align: center;

        ::placeholder {
            font-size: 16px;
        }
    }

    &__btnblock-findsubmit {
        display: block;
        border-radius: 50%;
    }

    &__findblock {
        position: relative;
        display: inline-block;
        width: 100%;
        max-width: 280px;
    }

    &__btnblock-findsubmit {
        position: absolute;
        left: auto;
        right: 0;
        top: 0;

    }

    &__buttons {
        display: flex;
        position: fixed;
        top: 30px;
        right: 20px;

    }

    &__categoriestuff {
        display: flex;
        align-items: center;
    }

    &__btnblock-grid {
        display: inline-grid;
        grid-template: 40px 40px/ 40px 40px;
        right: 0;
        left: auto;
        position: relative;
    }

    &__btnblock {
        position: relative;
    }

    &__btnblock-min {
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 3px;
            border-radius: 5px;
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: all .3s;
        }
    }

    &__btnblock--active {
        width: 145px;
        height: 90px;
        border-radius: 25px 40px 150px 25px;
        background: $black;
    }

    &__btnblock--active .header__btnblock-min {
        left: auto;
        right: 0;
        position: absolute;

        &::before {
            transform: translate(-50%, -50%) rotate(0deg);
        }
    }


}

@include media-breakpoint-down(md) {
    .header {
        &__categoriestuff {
            margin-bottom: 10px;
        }



        &__btnblock-grid {
            display: block;
            margin: 0 !important;

        }

        &__btnblock {
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 30px;
        }

        &__findblock {
            margin-bottom: 10px;
        }

        &__btnblock-min {
            position: relative !important;
        }


    }
}

@include media-breakpoint-down(lg) {
    .navpanelll {
        display: none;
    }
}