@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import "./colors";

@mixin button {
    font-size: 18px;
    letter-spacing: 0;
    color: $black !important;
    padding: 5px 18px;
    background-color: $btncolour;
    transition: all .3s;
    border-radius: 50px;
    font-weight: 400;

    &:hover {
        background-color: #ffa704;
        padding: 8px 24px;
    }
}

@mixin subtitle {
    font-size: 17px;
    letter-spacing: 0;
}

@mixin title {
    font-size: 84px;
    letter-spacing: 0;
    font-weight: 700;
}

.title {
    @include title;
}

.subtitle {
    @include subtitle;
}

.btn {
    @include button;
}

@mixin box-shadow-dark {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -55px 10px -5px $black;
        z-index: 1;
    }
}
@mixin box-shadow-light {
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0px -55px 10px -5px $white;
        z-index: 1;
    }
}

@include media-breakpoint-down(md) {
    .title {
        font-size: 64px;
    }
}

@include media-breakpoint-down(sm) {
    .title {
        font-size: 24px;
    }
}