@import "./colors";

#dark {
    background-color: $black;
    color: $white;

    button {
        color: $white
    }
}

#light {
    background-color: $white;
    color: black;

    button {
        color: $black;
    }
}

button {
    background-color: inherit;
}

.navpanelll {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header,
footer,
main {
    padding: 160px 0;
}

.app {
    position: relative;
    overflow: hidden;
}