@import "./colors";

/* HTML: <div class="loader"></div> */

.App__loader {
    width: 100vw;
    height: 100vh;
}

.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
    position: relative;
    top: 50%;
    left: 50%;
}

#light {
    @keyframes l5 {
        0% {
            box-shadow: 20px 0 #000, -20px 0 #0002;
            background: #000
        }

        33% {
            box-shadow: 20px 0 #000, -20px 0 #0002;
            background: #0002
        }

        66% {
            box-shadow: 20px 0 #0002, -20px 0 #000;
            background: #0002
        }

        100% {
            box-shadow: 20px 0 #0002, -20px 0 #000;
            background: #000
        }
    }
}

#dark {
    @keyframes l5 {
        0% {
            box-shadow: 20px 0 $white, -20px 0 #0002;
            background: $white
        }

        33% {
            box-shadow: 20px 0 $white, -20px 0 #0002;
            background: #0002
        }

        66% {
            box-shadow: 20px 0 #0002, -20px 0 $white;
            background: #0002
        }

        100% {
            box-shadow: 20px 0 #0002, -20px 0 $white;
            background: $white
        }
    }
}